#main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#gridContainer {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid red;
    justify-content: center;
    align-items: center;
}
.squares {
    width: 6.25%;
    aspect-ratio: 1;
    border: 0px solid blue;
}
.squares:hover {
    background-color: black;
}

